
# Database
POSTGRESQL_USER=user
POSTGRESQL_PASSWORD=password
POSTGRESQL_HOST=postgres
POSTGRESQL_PORT=5432
POSTGRESQL_DB=your_db
SECRET_KEY=your-secret-key-here

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=your_db
POSTGRES_HOST=postgres

NGINX_EXT_PORT=8080
